body {
  margin: 0;
}

.section-1 {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100vh;
  position: relative;
}

.logo {
  width: auto;
  height: auto;
}
.hamburger-icon {
  width: auto;
  height: auto;
}

.navbar {
  position: absolute;
  top: 7%;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  z-index: 1;
}

.secPart1 {
  background-image: url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4c900878f534cf0d3f17_Untitled%20design%20(11).png");
  display: flex;
  width: 100%;
  justify-content: end;
}
.secPart2 {
  background-image: url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4d48dc5b31ff0aa4ca67_Untitled%20design%20(12).png");
  display: flex;
  width: 100%;
  justify-content: start;
}

.level1-sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.level2-sec1 {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 3rem;
}

.level1-sec1-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
}

.level2-sec1-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h1-1-part1 {
  background-color: black;
  color: white;
  font-size: 2rem;
  text-align: end;
  width: fit-content;
  padding: 0 0.5rem;
}

.h1-2-part1 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  padding-top: 0.5rem;
}

.h1-1-part2 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-align: start;
  width: fit-content;
  padding: 0 0.5rem;
}

.h1-2-part2 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  padding-top: 0.5rem;
}

.description-1 {
  color: white;
  font-size: 1.2rem;
  text-align: end;
}

.description-2 {
  color: white;
  font-size: 1.2rem;
  text-align: start;
}

.Button-1 {
  background-color: black;
  color: white;
  font-size: 1.3rem;
  margin-top: 4rem;
  width: fit-content;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
}

.Button-2 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  text-align: start;
  margin-top: 4rem;
  width: fit-content;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
}

.section-2 {
  background-color: #f1f2f3;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 1rem;
  padding-top: 3rem;
  gap: 1rem;
}

.sec2Part1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
  padding-left: 10.5rem;
  margin: 0 2rem;
  height: fit-content;
}

.sec2Header {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  height: 100%;
}

.arrow {
  color: #28eea7;
  font-size: 2rem;
  font-weight: 900;
}
.greetingSec2 {
  color: black;
  font-size: 2rem;
  font-weight: 900;
}

.circlePart {
  display: flex;
  gap: 0.5rem;
  margin-left: 61%;
}

.circle-black {
  background-color: #363738;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.circle-white {
  background-color: #dcdee1;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.circle-green {
  background-color: #28eea7;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.sec2Youtube {
  border-radius: 2;
  border: 1rem solid #28eea7;
  border-radius: 1rem;
}

.section-3 {
  background-color: white;
  height: 100vh;
  display: flex;
  align-content: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.sec3Container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
}

.sec3LeftPart {
  display: flex;
  flex-direction: column;
}

.textLeftPart {
  background-color: #f1f2f3;
  padding: 3rem 8rem;
  border-radius: 1rem;
}

.textLeftPart h1 {
  font-size: 8rem;
  margin: 0 0;
}

.textLeftPart h2 {
  font-size: 2rem;
}

.sec3RightPart {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  align-items: start;
  align-content: flex-start;
  gap: 1rem;
}

.box1 {
  background-color: #f1f2f3;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 1.8rem;
  border-radius: 1rem;
}

.box2 {
  background-color: #f1f2f3;
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 1.8rem;
  border-radius: 1rem;
}

.box3 {
  background-color: #f1f2f3;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 1.8rem;
  border-radius: 1rem;
  justify-content: space-between;
}

.box4 {
  background-color: #f1f2f3;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  padding: 1.8rem;
  border-radius: 1rem;
}

.sec3RightPart p {
  font-size: 1.4rem;
  margin: 0;
}

.sec3RightPart h1 {
  font-size: 4.5rem;
  margin-top: 0;
  margin-bottom: 0.9rem;
}
